* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

@media (max-width: 760px) {
    .container {
        width: 100%;
    }

    #main-input {
        width: 65%;
    }

    #button-add {
        margin-left: 2%;
        width: 33%;
    }

    .trash {
        opacity: 1;
    }

    .rocket-button {
        opacity: 1;
    }
}

body {
    
    margin: 20px 0 0 10px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    background-color: #363636 ;
    padding: 10px 0;
}

div {
    border: 2px inset white;
    width: 500px;
    margin: auto;
}

input {
    display: block;
    border-radius: 5px;
    border-color: white;
    background-color: #363636;
    color: white;
}

textarea {
    border-radius: 5px;
    border-color: white;
    background-color: #363636;
    color: white;
}

legend {
    color: wheat;
    padding-left: 20px;
}

button {
    margin-left: 10px;
    margin-top: 13px;
    margin-bottom: 8px;
    width: 100px;
    height: 25px;
}

button:hover {
    cursor: pointer;
    background-color: #363636;
    color: white;
    width: 110px;
    height: 30px;
    border: 2px solid 	#E0FFFF ;
}

#form {
    padding: 10px 10px;
    display: block;
    color: white;
}

.social-networks {
    display: inline-block;
}

.sexo {
    display: inline-block;
}

.eyes {
    display: inline-block;
}